li {
  padding: 5px;
  margin: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: #03a0bc;
}

.form-group {
  margin-bottom: 5px;
}

.jumbotron {
	background: #97d30a;
	font-weight: bold;
}

.navbar-header {
	padding-bottom: 50px;
}

.inline {
  display:inline-block;
}